<div class="container">
    <form method="POST">
     <fieldset>
        <legend>Form</legend>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn=primary">Submit</button>
     </fieldset>
    </form>
</div>
